@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <p><i class="bi bi-info-square"></i>Ready to unlock the full experience? 
                    Log in now to discover advanced features tailored just for you—whether you're exploring smarter workflows, personalized dashboards, 
                    or exclusive content. Get instant access to tools designed to elevate your productivity and transform the way you work. 
                    Don’t just browse—take control</p>
            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <p>
                    <i class="bi bi-door-open"></i>Our system uses a Microsoft Entra ID B2C (consumer) account, which means users only need a personal Microsoft account to sign in. 
                    Once they grant consent during the authentication flow, 
                    the system accesses only their name and email address from their profile—nothing more.
                </p>
            </div>
        </div>

    </div>
   
</div>
